@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
  font-weight: normal;
}

:root {
  --cyan: hsl(179, 62%, 43%);
  --lt-cyan: hsl(179, 50%, 50%);
  --yellow: hsl(71, 73%, 54%);
  --gray: hsl(204, 43%, 93%);
  --blue: hsl(218, 22%, 67%);
}

html,
body {
  font-size: 16px;
  background-color: var(--gray);
  height: 100%;
}

.container {
  width: 310px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 2.5px 5px 15px 5px hsl(204, 43%, 80%);
  margin-top: 160px;
  border-radius: 5px;
  overflow: hidden;
}

.container > div {
  padding: 2.5rem;
  height: auto;
}

.join {
  width: 100%;
  background-color: #fff;
}

.join > h2 {
  color: var(--cyan);
  font-weight: bold;
}

.join > p {
  color: var(--blue);
  line-height: 2;
}

#guarantee {
  color: var(--yellow);
  padding: 1.5rem 0;
}

.monthly {
  width: 100%;
  background-color: var(--cyan);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.monthly > h2 {
  font-weight: 400;
  padding-bottom: 1rem;
}

#price {
  display: flex;
  align-items: center;
  padding-bottom: 0.5rem;
}

#dollars {
  font-size: 2.5rem;
}
#per {
  color: var(--gray);
}

.monthly > p {
  padding-bottom: 1.5rem;
}

.monthly button {
  width: 16rem;
  height: 3rem;
  margin: auto;
  background-color: var(--yellow);
  border: none;
  border-radius: 5px;
  color: #fff;
  box-shadow: 1px 5px 10px hsl(179, 62%, 35%);
}

.why {
  width: 100%;
  background-color: var(--lt-cyan);
  color: #fff;
}
.why > h2 {
  padding-bottom: 1rem;
}

.why ul {
  color: var(--gray);
  list-style: none;
  line-height: 1.5rem;
}

@media only screen and (min-width: 750px) {
  .container {
    width: 650px;
    margin-top: 160px;
  }
  .monthly,
  .why {
    width: 50%;
  }
}
